#parent {
  position: relative;
}

#container {
  position: relative;
  width: 800px;
  height: 800px;
  border: 3px solid grey;
  margin: auto;
}
.square {
  position: absolute;
  width: 100px;
  height: 100px;
}

.figure {
  position: absolute;
  width: 100px;
  height: 100px;
  animation: 1s ease-in-out 0.3;
}

.rank0 {
  top: 0%;
}
.rank1 {
  top: 12.5%;
}
.rank2 {
  top: 25%;
}
.rank3 {
  top: 37.5%;
}
.rank4 {
  top: 50%;
}
.rank5 {
  top: 62.5%;
}
.rank6 {
  top: 75%;
}
.rank7 {
  top: 87.5%;
}

.file0 {
  left: 0%;
}
.file1 {
  left: 12.5%;
}
.file2 {
  left: 25%;
}
.file3 {
  left: 37.5%;
}
.file4 {
  left: 50%;
}
.file5 {
  left: 62.5%;
}
.file6 {
  left: 75%;
}
.file7 {
  left: 87.5%;
}

.light {
  background-color: rgb(255, 212, 155);
}

.dark {
  background-color: rgb(240, 166, 97);
}

.selected {
  background-color: rgb(175, 137, 93);
}

.suggested {
  background-image: url('icons/dot.png');
}

.check {
  background-image: url('icons/check.png');
}

.suggestedCaptureLeft {
  background-image: url('icons/captureLeft.png');
}

.suggestedCaptureRight {
  background-image: url('icons/captureRight.png');
}

.promotion {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: auto;
  width: 500px;
  height: 200px;
  border: 3px solid black;
  background-color: rgb(251, 194, 132);
}

.imagesHandler {
  position: absolute;
  border: 3px solid black;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 408px;
  height: 102px;
  background-color: rgb(248, 177, 110);
}

.suggestion {
  display: inline-block;
  border: 1px solid black;
}

.gameOver {
  width: 400px;
  height: 200px;
  border: 3px solid black;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 200, 140);
}

.gameStatus {
  /* display: inline;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; */
  font: 2em 'Fira Sans', sans-serif;
}

.btnNewGame {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 435px;
}
